
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1 style="margin-left: 650px;" > Hakkımızda </h1>
<br />
<div class="col-md-10">
<p style="margin-left: 200px;">
    
    Sahi Kitap, çağdaş dünya ve yerli edebiyatla, “yaşayan” yazarlarıyla, güncel ve dinamik bir yayınevi olma gayesiyle yola çıktı. Şimdiye kadar Strega ödüllü yazar Domenico Starnone, Türkçeye ilk kez çevrilen ve Friedrich Dürrenmatt, Max Frisch, Adolf Muschg gibi yazarlarca övülen Ludwig Hohl, İngilitere Polisiye Yazarları Birliği tarafından romanları en iyi polisiye romanlar arasında  gösterilen Josephine Tey gibi yazarların kitaplarını yayınladı. Yanı sıra, Mürvet Uç, Doğukan İşler gibi yerli yazarlar da Sahi Kitap’tan yayınlanacak.

</p>
<p style="margin-left: 200px;">
    Sahi Kitap dinamik bir yayınevi olma ve günceli yakalama gayesinde. Bu sebeple, yurtdışı telif haklarına çok önem veriyor. Edebiyatta Elvira Navarro (dikkatli okurlar Mutlu Kent romanından hatırlayacaklardır), Amazon tarafından mart ayının en iyi kitaplarından biri seçilen, bir Afrika kabilesindeki genç bir kadının Amerikan petrol şirketine göğüs germesini anlatan Imbolo Mbue’nin How Beautiful We Were; Booker ödülü finalisti, New York Times,  Washington Post, NPR, Star Tribune gibi mecralar tarafından yılın en iyi kitapları arasında gösterilen How Much of These Hills is Gold (Begüm Kovulmaz çevirisiyle); Catherine Lacey’nin birçok mecra tarafından 2020’nin en iyi kitapları arasında gösterilen, 2021 Dylan Thomas ödülü finalistleri arasında yer alan ve Amerika’nın güneyindeki bir kilisede beliren gizemli cismin bir kasabayı git gide değiştirmeye başlamasını anlatan Pew (Su Akaydın çevirisiyle); Yiyun Li’nin Pen America ödüllü, bir annenin intihar eden çocuğuyla gerçekleştirdiği iç dökümünü andıran romanı Where Reasons End (Serkan Toy çevirisiyle) ve birçok edebi eser, Sahi Kitap etiketiyle yayınlanacak. Bir de tabii, yeni Starnone ve Amelie Nothomb kitapları…

    Sahi Kitap’ın kapısı yerli yazarlara da açık: Doğukan İşler, Zeynep Kahraman Füzün gibi halihazırda kitapları yayınlanmış ve sevilen öykücülerin yanı sıra, yeni kitaplarını ilk kez yayınlayacak olan genç yazarlar da yayın programında yer bulacak.

</p>
    </div>
